<div class="navbar-header">
  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <a class="navbar-brand" href="/">Brunch Skeleton</a>
</div>

<div class="collapse navbar-collapse nav-collapse">
    <ul class="nav navbar-nav navbar-right">
      <li><a href="http://backbonejs.org/">Backbone</a></li>
      <li><a href="http://marionettejs.com/">Marionette</a></li>
      <li><a href="http://getbootstrap.com/">Bootstrap</a></li>
      <li><a href="http://fortawesome.github.io/Font-Awesome/">Font-Awesome</a></li>
      <li><a href="http://handlebarsjs.com/">Handlebars</a></li>
      <li><a href="http://lesscss.org/">LESS</a></li>
      {{#if id}}
      <li><a class="sign-out-link" href="#" data-nav-id="sign_out"><i class="icon-signout"></i>Sign out</a></li>
      {{else}}
      <li><a class="sign-in-link" href="#" data-nav-id="sign_in"><i class="icon-signin"></i>Sign in</a></li>
      {{/if}}
    </ul>
  </div>
</div>
