<div class="jumbotron">
  <h1>Brunch with Marionette</h1>
  <p>A basic but complete <a href="http://brunch.io/">Brunch</a> skeleton that comes with Marionette, Bootstrap (themeable), Font Awesome, Handlebars, and LESS. It also includes some generators for quickly creating modules, and some examples of very common behavior for the first days of any web app.</p>
  <p>You can use the <em>Sign in</em> link in the header to see some example behavior.</p>
</div>